@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrate";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 iniciosec">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crea una nueva cuenta.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.nombre" class="form-control" autocomplete="Nombre" aria-required="true" />
                <label asp-for="Input.nombre"></label>
                <span asp-validation-for="Input.nombre" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.calle" class="form-control" autocomplete="Calle" aria-required="true" />
                <label asp-for="Input.calle"></label>
                <span asp-validation-for="Input.calle" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.estado" class="form-control" autocomplete="Estado" aria-required="true" />
                <label asp-for="Input.estado"></label>
                <span asp-validation-for="Input.estado" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ciudad" class="form-control" autocomplete="Ciudad" aria-required="true" />
                <label asp-for="Input.ciudad"></label>
                <span asp-validation-for="Input.ciudad" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.numeroExt" class="form-control" autocomplete="NumeroExt" aria-required="true" />
                <label asp-for="Input.numeroExt"></label>
                <span asp-validation-for="Input.numeroExt" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.pais" class="form-control" autocomplete="Pais" aria-required="true" />
                <label asp-for="Input.pais"></label>
                <span asp-validation-for="Input.pais" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.codpos" class="form-control" autocomplete="Codpos" aria-required="true" />
                <label asp-for="Input.codpos"></label>
                <span asp-validation-for="Input.codpos" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
