@{
    ViewData["Title"] = "Home Page";
}
    <header>
        <h1 class="display-2">Libreria Rai</h1><br /><hr><br />
    </</header>
    <aside>
        <img class="imagen1" src="https://th.bing.com/th/id/OIP.Gv0SIvyDJ7StvwvCJh1a6AHaEK?pid=ImgDet&rs=1" align="right" />    
    </aside>
    <main >
        <article class="maininic">
            <h2>¿Quienes somos?</h2>
            <p>Somos Libreria Rai, tu proximo lugar favorito para comprar libros.</p>
            <p>En Libreria Rai nos especializamos en la atención a nuestros clientes y ayudarlos a encontrar lo que buscan</p>
        </article>
    </main>
    <footer class="footerini">
    <h2>Redes Sociales</h2>
        <p>Haz click en las imagenes o buscanos con nuestro usuario</p>
        <a href="https://www.facebook.com/profile.php?id=100087913547140&mibextid=LQQJ4d"><img class="redes" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png" /></a><br />
        <a href="https://www.facebook.com/profile.php?id=100087913547140&mibextid=LQQJ4d"><p>&nbsp Librería Rai</p><br /></a><br />
        <a href="https://instagram.com/libreria_rai?igshid=YmMyMTA2M2Y="><img class="redes" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" /></a><br />
        <a href="https://instagram.com/libreria_rai?igshid=YmMyMTA2M2Y="><p>&nbsp libreria_rai</p></a><br />
    </footer>

    <div align="right">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sugerencias" asp-action="Create"><button class="btn btn-secondary">Sugerencias</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Solicitudes" asp-action="Create"><button class="btn btn-secondary">Solicitudes</button></a>


    </div>


